body{
    background-color: lightgrey;
}

.cabeçalho{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: bisque;
    border: 2px solid darkblue;
    color: darkgreen;
}

.logo{
    width: 110px;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: lightskyblue;
    padding: 5px;
    color: darkred;
    font-weight: bold;
}

.introducao{
    text-align: center;
    margin: 20px;
}

.paragrafos{
    text-align: center;
    color: indigo;
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.livros{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.imagens2{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.imagens2 img{
    height: 300px;
}

.fei{
    text-align: center;
    margin: 30px;
}

.midia{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px;
}

.video iframe,
.mapa iframe{
    width: 300px;
    height: 300px;
    border: 0;
}

.contatos{
    text-align: center;
    margin: 20px;
}

.tabela{
    margin: auto;
    border: 5px dashed red;
    border-spacing: 1px;
}

.tabela td{
    border: 1px solid darkred;
    padding: 10px 10px;
    text-align: center;
}

.tabela th{
    border: 1px solid darkred;
    padding: 10px 10px;
    text-align: center;
    color: red;
}

.quadro{
    background-color: yellow;
    padding-bottom: 0.5px;
    width: 500px;
    margin: 50px auto;
}

.sites a{
    margin-left: 75px;
    color: darkred;
    font-weight: bold;
}

.rodape{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Comic Sans MS;
    font-size: medium;
}

.logo2{
    width: 110px;
    height: 110px;
}
