.body{
    background-color: lightgrey;
}

.cabeçalho{
    font-size: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: bisque;
    border: solid 2px darkblue;
    color: darkgreen; 
}

#img1{
    position: absolute;
    top: 15px;
    left: 15px;
}

#img2{
    position: absolute;
    top: 15px;
    right: 15px;
}

.azul{
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
}

.subtitulos{
    font-size: 10px;
    display: inline-flex;
    justify-content: space-between;
    gap: 80px;
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
}

.introducao{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.p1{
    color: indigo;
    text-align: center;
    font-family: sans-serif;
}

.p2{
    color: indigo;
    text-align: center;
    font-family: sans-serif;
}

.p3{
    color: indigo;
    text-align: center;
    font-family: sans-serif;
}

.livros{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.imagens2{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}